version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3308:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci

  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6379:6379"

  app:
    image: ${DOCKERHUB_USERNAME}/realmatch-backend:prod
    container_name: spring_app
    restart: always
    ports:
      - "8080:6000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
        SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
        SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
        SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
        SPRING_DATASOURCE_DRIVER_CLASS_NAME: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME}
        SPRING_REDIS_HOST: ${SPRING_REDIS_HOST}
        SPRING_REDIS_PORT: ${SPRING_REDIS_PORT}
        SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
