
cors:
  allowed-origin: http://${SERVER_IP}

swagger:
  server-url: ${SWAGGER_SERVER_URL}

server:
  timezone: Asia/Seoul

spring:
  application:
    name: Realmatch
  activate:
    on-profile: prod

  datasource:
    url: ${DATASOURCE_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: ${DATASOURCE_DRIVER_CLASS_NAME}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 10000
      max-lifetime: 600000

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_OPTION}
    properties:
      hibernate:
        dialect: ${JPA_HIBERNATE_DIALECT}
        format_sql: true
    show-sql: false

  security:
    refresh-token:
      expire-days: ${JWT_REFRESH_EXPIRE_DAYS}
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_ID}
            client-secret: ${KAKAO_SECRET}
            redirect-uri: ${KAKAO_REDIRECT_URI}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - account_email

          naver:
            client-id: ${NAVER_ID}
            client-secret: ${NAVER_SECRET}
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: ${NAVER_REDIRECT_URI}
            scope:
              - name
              - email

          google:
            client-id: ${GOOGLE_ID}
            client-secret: ${GOOGLE_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            scope:
              - profile
              - email

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  rabbitmq:
    host: ${RABBITMQ_URL}
    port: ${RABBITMQ_MQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

logging:
  level:
    org.hibernate.SQL: warn

jwt:
  secret: ${JWT_SECRET}
  access-expire-ms: ${JWT_ACCESS_EXPIRE_MS}
  refresh-expire-ms: ${JWT_REFRESH_EXPIRE_MS}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: never
